@media only screen and (min-width: $width-desktop){

    //main styling for desktop
       .supporting{
    position: relative;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

    //main styling for desktop
    .sidebar {
        position: absolute;
        left: -3em;
        top: 35em;
    }
    .preamble,
    .main > * {
        margin-left: 20%;
        margin-bottom: 4em;
    }

    .preamble {
        padding-top: 15px;
    }

    div.explanation {
        margin-bottom: 4em;
        width: 40%;
    }

    .main > footer {
        bottom: -25em;
        left: 4%;
        grid-column-gap: 5em;
        grid-row-gap: 5em;
    }

    .extra1 {
        padding-bottom: 0;
    }



}
