@media only screen and (min-width: 1270px){
    .sidebar {
        position: absolute;
        left: 5%;
        top: 27.5em;
    }
    .preamble,
    .main > * {
        margin-left: 20%;
        margin-bottom: 4em;
    }

    div.explanation {
        margin-bottom: 4em;
        width: 50%;
    }

}