$blue1: #ffffff;
$blue2: #71b8ff;
$blue3: #409fff;
$blue4: #0e6dcd;
$blue5: #0463c3;
$blue6: #0059b9;
$blue7: #004faf;
$blue8: #0045a5;
$blue9: #003b9b;


$gradient-list: $blue1 40em, $blue2 40em, $blue3 25%, $blue4 40%, $blue5 55%, $blue6 60%, $blue7 75%, $blue8 90%, $blue9 100%;

@mixin gradient($direction, $gradient-list){
    background: -webkit-linear-gradient($direction, $gradient-list);
}

// linear gradient
#css-zen-garden {
    @include gradient(top, $gradient-list);
}

// radial gradient
#css-zen-garden:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 40.5em;
    top: -2.5em;
    left: 0;
    background:radial-gradient(ellipse at bottom, #ffffff 0%, #ffffff 25%, #f9e4f8 50%, #ffba89 100%, );
    z-index: -5;
}

@media only screen and (min-width: $width-desktop){
    $gradient-list:  $blue1 16%, $blue2 16%, $blue3 25%, $blue4 40%, $blue5 55%, $blue6 60%, $blue7 75%, $blue8 90%, $blue9 100%;

#css-zen-garden {
    @include gradient(top, $gradient-list);
    }

    #css-zen-garden:before {
         height: 42em;
    }

}



