// Link stylings to design names

.design-selection nav li a:nth-child(1){
	&:link, &:visited {
		color:$heading-color;
		text-decoration: none;
		padding-bottom: 5px;
		font-size: 1.3rem;
        font-family: $title-font;
	  }
	  &:hover {
		  text-decoration: underline;
	  }
	  &:active {
		  color: $link-color;
	  }
}

// Link stylings for names of designers, resources and archives

.designer-name, .design-archives nav li a, .zen-resources ul a{
    padding-left: 5px;
    letter-spacing: .6px;
}

 .design-selection nav li, .zen-resources, .design-archives, footer{
        padding-bottom: 5px;
		font-size: 1rem;
		a {
			&:link, &:visited {
			  color:$secondary-color;
			  text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
			&:active {
				color: $link-color;
			}
		}
    }

/* This title will be behind the clam shells */

.design-archives h3, .zen-resources h3 {
    font-size: 1.3rem;
    color: $accent-color;
}

// Body copy stylings for .participation, .requirements, .summary


.participation, .requirements, .summary{
		a {
			&:link, &:visited {
			  color: $link-color;
			  text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
			&:active {
				color: $link-color;
			}
		}
    }

.intro .summary a {
    color: darken($link-color, 20%);
    font-weight: bold;
    letter-spacing: .5px;
}
