// Link stylings to design names

.design-selection nav li a:nth-child(1){
	&:link, &:visited {
		color:$heading-color;
		text-decoration: none;
		padding-bottom: 5px;
		font-size: 1.3rem;
        font-family: $title-font;
	  }
	  &:hover {
		  text-decoration: underline;
	  }
	  &:active {
		  color: $link-color;
	  }
}

// Link stylings for names of designers, resources and archives

.designer-name{
    padding-left: 5px;
    letter-spacing: 1px;
}

 .design-selection nav li, .zen-resources, .design-archives{
        padding-bottom: 5px;
		font-size: 1rem;
		a {
			&:link, &:visited {
			  color:$secondary-color;
			  text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
			&:active {
				color: $link-color;
			}
		}
    }

.design-archives h3, .zen-resources h3 {
    font-size: 1.3rem;
    color: $heading-color;
}


