// Link stylings to design names

.design-selection nav li a:nth-child(1){
	&:link, &:visited {
		color:$heading-color;
		text-decoration: none;
		padding-bottom: 5px;
		font-size: 1.3rem;
        font-family: $title-font;
	  }
	  &:hover {
		  text-decoration: underline;
	  }
	  &:active {
		  color: $link-color;
	  }
}

// Link stylings for names of designers, resources and archives

.designer-name, .design-archives nav li a, .zen-resources ul a{
    padding-left: 5px;
    letter-spacing: .6px;
}

 .design-selection nav li, .zen-resources, .design-archives, footer{
        padding-bottom: 5px;
		font-size: 1rem;
		a {
			&:link, &:visited {
			  color:$secondary-color;
			  text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
			&:active {
				color: $link-color;
			}
		}
    }

// Body copy stylings for .participation, .requirements, .summary

.participation, .requirements, .summary{
		a {
			&:link, &:visited {
			  color: $link-color;
			  text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
			&:active {
				color: $link-color;
			}
		}
    }

.intro .summary a {
    color: darken($link-color, 18%);
    font-weight: bold;
    letter-spacing: .5px;
}

//Link Styling for jellyfish
footer {
	a:link, a:visited{
	color:$accent-color;
	}
}

// styles for aside and links

.wrapper {
    text-align: center;
}

.design-selection nav ul, .design-archives nav ul, .zen-resources ul {
    list-style: none;
    margin: 4em 0 2em;
    padding-left: 0;
}

.design-selection nav li, .design-archives nav li, .zen-resources li  {
    margin: 0 auto;
    padding-bottom: 1.3em;
    color: $accent-color;
}

.design-name{
    display: block;
    font-size: 1.2em;
}

.design-selection nav li a:nth-child(1){
    padding-bottom: .4em;
}
