
// Ship svg
.preamble::before {
        position: absolute;
        display: block;
        content: ' ';
        background-image: url('../images/ship.svg');
        background-size: 150px 150px;
        height: 150px;
        width: 150px;
        top: 29.1em;
        left:25px;
        animation: rock 4s ease-in-out forwards infinite, sail 5s ease-in-out infinite alternate;
    }


//Ship animation
@keyframes rock {
    0% {transform: rotate(3deg);}
    50% {transform: rotate(-3deg);}
    100%{transform: rotate(3deg);}
}

@keyframes sail {
    0%{margin-left: 0;}
    100%{margin-left:50px;}
}




// Turtle svg
.explanation::after {
        position: relative;
        display: block;
        content: ' ';
        background-image: url('../images/sea-turtle.svg');
        background-size: 200px 200px;
        height: 200px;
        width: 200px;
        top: 25px;
        left: 35px;
        margin-bottom: -225px;
    }

// Clam shell svg
.design-archives h3::before, .zen-resources h3::before {
    position: relative;
        display: block;
        content: ' ';
        background-image: url('../images/clamshell.svg');
        background-size: 150px 150px;
        height: 150px;
        width: 150px;
        top: 3.8em;
        left: 0px;
        margin: 0 auto;
        z-index: -1;
    }

.design-selection h3::before {
    position: relative;
    display: block;
    content: ' ';
    background-image: url('../images/clamshell.svg');
    background-size: 150px 150px;
    height: 150px;
    width: 150px;
    top: 4.6em;
    left: 0px;
    margin: 0 auto;
    z-index: -1;
}

//starfish svg
.preamble h3::before, .explanation h3::before, .participation h3::before, .benefits h3::before, .requirements h3::before {
    position: relative;
        display: block;
        content: ' ';
        background-image: url('../images/starfish.svg');
        background-size: 40px 40px;
        height: 40px;
        width: 40px;
        top: 1.3em;
        left: -1.6em;
}


//jellyfish svg
footer a::before {
     position: relative;
        display: block;
        content: ' ';
        background-image: url('../images/jellyfish.svg');
        background-size: 60px 60px;
        height: 60px;
        width: 60px;
        top: 3.3em;
        left: 0;
        z-index: -1;
        animation: jellyJiggle .5s ease-in-out forwards infinite;
            
        }


@keyframes jellyJiggle {
    0% {transform: rotate(1deg);}
    50% {transform: rotate(-1deg);}
    100%{transform: rotate(1deg);}
}


//bubbles svg

//mobile bubble 1
.preamble::after {
    position: absolute;
    content: ' ';
    background-image: url('../images/bubble.svg');
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    opacity: .3;
    z-index: -2;
    bottom: 0;
    left: 15%;
    animation: animateBubble 45s linear infinite, sideWays 3s ease-in-out infinite alternate;
}

//mobile bubble 2
.intro::before {
    position: absolute;
    content: ' ';
    background-image: url('../images/bubble.svg');
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    opacity: .3;
    z-index: -2;
    bottom: 0;
    left: 45%;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

//mobile bubble 3
.intro::after {
    position: absolute;
    content: ' ';
    background-image: url('../images/bubble.svg');
    background-size: 45px 45px;
    height: 45px;
    width: 45px;
    opacity: .3;
    z-index: -2;
    bottom: 0;
    left: 75%;
    animation: animateBubble 35s linear infinite, sideWays 2s ease-in-out infinite alternate;
}


@keyframes animateBubble {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 88.2%;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

@media only screen and (min-width: $width-desktop){

// boat desktop
    .preamble::before {
        background-size: 275px 275px;
        height: 275px;
        width: 275px;
        top: 300px;
    }

// turtle desktop
    .explanation::after {
        background-size: 300px 300px;
        height: 300px;
        width: 300px;
        top: -25em;
        left: 28em;
        margin-bottom: -17em;
    }

    .preamble h3::before, .explanation h3::before, .participation h3::before, .benefits h3::before, .requirements h3::before {
        background-size: 50px 50px;
        height: 50px;
        width: 50px;
        top: 1.5em;
        left: -2.1em;
    }

    footer a::before {
        background-size: 90px 90px;
        height: 90px;
        width: 90px;
        top: 4.7em;
    }

    //desktop bubbles
    .preamble:after {
        animation: animateBubbleDesktop 45s linear infinite, sideWays 3s ease-in-out infinite alternate;
    }

    .intro::before {
        animation: animateBubbleDesktop 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    }

    .intro::after {
        animation: animateBubbleDesktop 35s linear infinite, sideWays 2s ease-in-out infinite alternate;
    }

    @keyframes animateBubbleDesktop {
        0% {
            bottom: 0;
        }
        100% {
            bottom: 81%;
        }
    }
}
