$title-font: 'Merienda', cursive;
$body-font: 'Roboto', sans-serif;

// header styles for mobile

h1, h2, h3, h4, h5, h6{
    font-family: $title-font;
}

h1{
    font-size: 2.5em;
}

h2 {
    font-family: $body-font;
    font-size: 1.3em;
}

h1, h2, .banner, .summary p:nth-child(1) {
    text-align: right;
}

.summary p:nth-child(1){
    margin-left: 1em;
    margin-bottom: 2em;
}


.summary p:nth-child(2) {
    max-width: 12em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 17em;
}