@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@media only screen and (min-width: 1080px) {
  .sidebar {
    position: absolute;
    left: -3em;
    top: 24em;
  }

  .preamble,
.main > * {
    margin-left: 20%;
    margin-bottom: 4em;
  }

  .preamble {
    padding-top: 15px;
  }

  div.explanation {
    margin-bottom: 4em;
    width: 40%;
  }

  .main > footer {
    bottom: -25em;
    left: 17%;
    grid-column-gap: 5em;
    grid-row-gap: 5em;
  }

  .extra1 {
    padding-bottom: 0;
  }
}
#css-zen-garden {
  background: -webkit-linear-gradient(top, #ffffff 30em, #71b8ff 30em, #409fff 25%, #0e6dcd 40%, #0463c3 55%, #0059b9 60%, #004faf 75%, #0045a5 90%, #003b9b 100%);
}

@media only screen and (min-width: 1080px) {
  #css-zen-garden {
    background: -webkit-linear-gradient(top, #ffffff 16%, #71b8ff 16%, #409fff 25%, #0e6dcd 40%, #0463c3 55%, #0059b9 60%, #004faf 75%, #0045a5 90%, #003b9b 100%);
  }
}
.design-selection nav li a:nth-child(1):link, .design-selection nav li a:nth-child(1):visited {
  color: #ffd8ad;
  text-decoration: none;
  padding-bottom: 5px;
  font-size: 1.3rem;
  font-family: "Merienda", cursive;
}
.design-selection nav li a:nth-child(1):hover {
  text-decoration: underline;
}
.design-selection nav li a:nth-child(1):active {
  color: #8ed089;
}

.designer-name, .design-archives nav li a, .zen-resources ul a {
  padding-left: 5px;
  letter-spacing: 0.6px;
}

.design-selection nav li, .zen-resources, .design-archives, footer {
  padding-bottom: 5px;
  font-size: 1rem;
}
.design-selection nav li a:link, .design-selection nav li a:visited, .zen-resources a:link, .zen-resources a:visited, .design-archives a:link, .design-archives a:visited, footer a:link, footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
.design-selection nav li a:hover, .zen-resources a:hover, .design-archives a:hover, footer a:hover {
  text-decoration: underline;
}
.design-selection nav li a:active, .zen-resources a:active, .design-archives a:active, footer a:active {
  color: #8ed089;
}

/* This title will be behind the clam shells */
.design-archives h3, .zen-resources h3 {
  font-size: 1.3rem;
  color: #003191;
}

.participation a:link, .participation a:visited, .requirements a:link, .requirements a:visited, .summary a:link, .summary a:visited {
  color: #8ed089;
  text-decoration: none;
}
.participation a:hover, .requirements a:hover, .summary a:hover {
  text-decoration: underline;
}
.participation a:active, .requirements a:active, .summary a:active {
  color: #8ed089;
}

.intro .summary a {
  color: #4dae45;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.preamble:before {
  position: absolute;
  display: block;
  content: " ";
  background-image: url("../images/ship.svg");
  background-size: 150px 150px;
  height: 150px;
  width: 150px;
  top: 305px;
  left: 25px;
}

.explanation:after {
  position: relative;
  display: block;
  content: " ";
  background-image: url("../images/sea-turtle.svg");
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  top: 25px;
  left: 35px;
  margin-bottom: -225px;
}

.design-selection h3:before, .design-archives h3:before, .zen-resources h3:before {
  position: relative;
  display: block;
  content: " ";
  background-image: url("../images/clamshell.svg");
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  top: 3em;
  left: 0px;
  margin: 0 auto;
  z-index: -1;
}

.preamble h3:before, .explanation h3:before, .participation h3:before, .benefits h3:before, .requirements h3:before {
  position: relative;
  display: block;
  content: " ";
  background-image: url("../images/starfish.svg");
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  top: 1.5em;
  left: -2.5em;
}

@media only screen and (min-width: 1080px) {
  .preamble:before {
    background-size: 200px 200px;
    height: 200px;
    width: 200px;
    top: 236px;
    left: 0;
  }

  .explanation:after {
    background-size: 275px 275px;
    height: 275px;
    width: 275px;
    top: -20em;
    left: 28em;
    margin-bottom: -17em;
  }

  .preamble h3:before, .explanation h3:before, .participation h3:before, .benefits h3:before, .requirements h3:before {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    top: 1.5em;
    left: -3em;
  }
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
  padding: 0px 25px;
  line-height: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merienda", cursive;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}

h1, h2, .banner, .summary p:nth-child(1) {
  text-align: right;
}

.summary p:nth-child(1) {
  margin-left: 1em;
  margin-bottom: 2em;
}

.summary p:nth-child(2) {
  max-width: 12em;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 17em;
}

@media only screen and (min-width: 1080px) {
  .summary p:nth-child(1) {
    margin-left: 65%;
  }

  .summary p:nth-child(2) {
    margin: 0;
    margin-bottom: 10em;
    position: relative;
    right: 0em;
    top: -10em;
  }
}
.requirements, .benefits, .participation, .explanation, .preamble {
  padding-left: 40px;
}

.explanation {
  margin-bottom: 18em;
}

.requirements {
  margin-bottom: 7em;
}

.wrapper {
  text-align: center;
}

.design-selection nav ul, .design-archives nav ul, .zen-resources ul {
  list-style: none;
  margin-bottom: 2em;
  padding-left: 0;
}

.design-selection nav li, .design-archives nav li, .zen-resources li {
  margin: 0 auto;
  padding-bottom: 1.3em;
}

.select, .archives, .resources {
  margin-bottom: 3em;
}

.design-name {
  display: block;
  font-size: 1.2em;
}

.design-selection nav li a:nth-child(1) {
  padding-bottom: 0.4em;
}

/* grid assignments for grid template area*/
footer a:nth-child(1) {
  grid-area: one;
}

footer a:nth-child(2) {
  grid-area: two;
}

footer a:nth-child(3) {
  grid-area: three;
}

footer a:nth-child(4) {
  grid-area: four;
}

footer a:nth-child(5) {
  grid-area: five;
}

footer {
  position: absolute;
  bottom: -113em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4em auto;
  grid-template-areas: "one . two . three" ". four . five .";
}

.supporting {
  position: relative;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.extra1 {
  display: block;
  padding-bottom: 25em;
}

/*# sourceMappingURL=style.css.map */
