@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
//font-family: 'Merienda', cursive;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//font-family: 'Roboto', sans-serif;

// Variables
$width-desktop: 1080px;

//Mixin

// Partials
@import "typography";
@import "color";
@import "desktop";
@import "gradient";
@import "links";
@import "svgpositions";


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $body-font;
    font-size: 1em;
    height: 100%;
}

.page-wrapper {
     position: relative;
    font-family: $body-font;
    font-size: 1em;
    max-width: $width-desktop;
    margin: 0 auto;
    height: 100%;
    padding: 0px 24px;
}

@import "header";

// main styles for mobile

.requirements, .benefits, .participation, .explanation, .preamble {
    padding-left: 40px; // gave padding on left to account for stars for bullet points
}

.explanation {
    margin-bottom: 18em;
}

.requirements {
    margin-bottom: 7em;
}

// styles for aside and links

.wrapper {
    text-align: center;
}

.design-selection nav ul, .design-archives nav ul, .zen-resources ul {
    list-style: none;
    margin: 4em 0 2em;
    padding-left: 0;
}

.design-selection nav li, .design-archives nav li, .zen-resources li  {
    margin: 0 auto;
    padding-bottom: 1.3em;
}

.select, .archives, .resources {
    margin: 3em 0;
}



.design-name{
    display: block;
    font-size: 1.2em;
}

.design-selection nav li a:nth-child(1){
    padding-bottom: .4em;
}

// styles for footer jellyfish links

/* grid assignments for grid template area*/
footer a:nth-child(1){
    grid-area: one;
}

footer a:nth-child(2){
    grid-area: two;
}

footer a:nth-child(3){
    grid-area: three;
}

footer a:nth-child(4){
    grid-area: four;
}

footer a:nth-child(5){
    grid-area: five;
}

footer {
    position: absolute;
    bottom: -135em;
    left: 1em;
    right: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 4em auto;
    grid-template-areas:
        "one . two . three"
        ". four . five ."
}

.supporting{
    position: relative;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}



// extra space for images underneath

.extra1 {
    display: block;
    padding-bottom: 35em;
}

// Bottom Sand Bar css shape

.extra6 {
    margin-left: -10px;
    width: 100vw;
    height: 75px;
    background: darken($accent-color, 3%);
    border-radius: 75% / 115% 115% 0 0;
}


