@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
//font-family: 'Merienda', cursive;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//font-family: 'Roboto', sans-serif;

// Variables
$width-desktop: 1080px;

//Mixin

// Partials
@import "typography";
@import "color";
@import "desktop";
@import "gradient";
@import "links";
@import "svgpositions";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $body-font;
    font-size: 1em;
    height: 100%;
    overflow-x: hidden;
}

.page-wrapper {
     position: relative;
    font-family: $body-font;
    font-size: 1em;
    max-width: $width-desktop;
    margin: 0 auto;
    height: 100%;
    padding: 0px 24px;
     padding-bottom: 35em;
}

@import "header";

// main styles for mobile

.requirements, .benefits, .participation, .explanation, .preamble {
    padding-left: 40px; // gave padding on left to account for stars for bullet points
}

.explanation {
    margin-bottom: 18em;
}

.requirements {
    margin-bottom: 7em;
}

// styles for grid and footer jellyfish links

@import "grid";



