@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
//font-family: 'Merienda', cursive;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//font-family: 'Roboto', sans-serif;

// Variables
$width-desktop: 1080px;

//Mixin

// Partials
@import "typography";
@import "color";
@import "desktop";
@import "gradient";


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: $body-font;
    font-size: 1em;
    max-width: $width-desktop;
    margin: 0 auto;
    height: 100%;
    padding: 0px 25px;
}

// header styles for mobile

h1, h2, h3, h4, h5, h6{
    font-family: $title-font;
}

h1{
    font-size: 2.5em;
}

h2 {
    font-family: $body-font;
    font-size: 1.3em;
}

h1, h2, .banner, .summary p:nth-child(1) {
    text-align: right;
}

.summary p:nth-child(1){
    margin-left: 1em;
    margin-bottom: 2em;
}


.summary p:nth-child(2) {
    max-width: 12em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 13em;
}

@import "header";

// main styles for mobile

.requirements, .benefits, .participation, .explanation, .preamble {
    padding-left: 40px; // gave padding on left to account for stars for bullet points
}

.explanation {
    margin-bottom: 18em;
}

.requirements {
    margin-bottom: 7em;
}

// styles for aside and links

.wrapper {
    text-align: center;
}

.design-selection nav ul, .design-archives nav ul, .zen-resources ul {
    list-style: none;
    margin-bottom: 2em;
    padding-left: 0;
}

.design-selection nav li, .design-archives nav li, .zen-resources li  {
    margin: 0 auto;
    margin-bottom: 1.3em;
}

.design-name{
    display: block;
    font-size: 1.2em;
}

.design-selection nav li a:nth-child(1){
    padding-bottom: .4em;
}

// styles for footer jellyfish links

/* grid assignments for grid template area*/
footer a:nth-child(1){
    grid-area: one;
}

footer a:nth-child(2){
    grid-area: two;
}

footer a:nth-child(3){
    grid-area: three;
}

footer a:nth-child(4){
    grid-area: four;
}

footer a:nth-child(5){
    grid-area: five;
}

footer {
    position: absolute;
    bottom: -80em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 4em auto;
    grid-template-areas:
        "one . two . three"
        ". four . five ."
}

.supporting{
    position: relative;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

// extra space for images underneath
.extra1 {
    display: block;
    padding-bottom: 25em;
}



