// color palette - these colors will be the color swatches of the Colors section

$color-1: #409fff; // Blue - Action color
$color-2: #ffffff; // white
$color-3: #ff9600; // orange
$color-4: #8ed089; // green
$color-5: #000000; // black

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red